.login-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10%;
    width: 100%;
    border: 1px solid #000;
    background-color: #444444;
    color: #ffffff;
}

.login-button {
    margin-right: 5% !important;
}