.task-list-wrapper {
    display: flex;
    justify-content: center;
    height: 50%;
    width: 85%;
    margin: 0 auto;
    padding: 1em;
    overflow: scroll;
    background-color: #444444;
    /* Testing box */
    border: 1px dashed red;
}